.vs/
*.db
*.pdb
bin/
obj/
*.cache
*.sourcelink.json
*.dll
*.exe
**/*.dll
**/*.json
**/*.cache
**/Debug/
**/Release/
*.exe
*.dll
*.json
*.vsidx
.vs/EmotionTracker/DesignTimeBuild/.dtbcache.v2
.vs/EmotionTracker/FileContentIndex/3ad8cce6-be05-4996-a709-9aa636db56bf.vsidx
.vs/EmotionTracker/FileContentIndex/43fa73a0-9150-4368-9c62-e5d2a157ecb9.vsidx
.vs/EmotionTracker/FileContentIndex/d20015d8-40ba-4acc-9ecb-b724f72d5e09.vsidx
.vs/EmotionTracker/FileContentIndex/e46ce59e-7dfb-46d9-a29f-e6ffdbac53b6.vsidx
.vs/EmotionTracker/FileContentIndex/fc935555-d295-4d83-81c8-cc96141d99d3.vsidx
.vs/EmotionTracker/v17/.futdcache.v2
.vs/EmotionTracker/v17/.suo
.vs/EmotionTracker/v17/DocumentLayout.backup.json
.vs/EmotionTracker/v17/DocumentLayout.json
EmotionTracker.Client/bin/Debug/net8.0/EmotionTracker.client.dll
EmotionTracker.Client/bin/Debug/net8.0/EmotionTracker.client.exe
EmotionTracker.Client/bin/Debug/net8.0/EmotionTracker.client.pdb
EmotionTracker.Client/obj/Debug/net8.0/apphost.exe
EmotionTracker.Client/obj/Debug/net8.0/Avalonia/original.dll
EmotionTracker.Client/obj/Debug/net8.0/Avalonia/original.pdb
EmotionTracker.Client/obj/Debug/net8.0/Avalonia/original.ref.dll
EmotionTracker.Client/obj/Debug/net8.0/EmotionTracker.client.AssemblyInfo.cs
EmotionTracker.Client/obj/Debug/net8.0/EmotionTracker.client.AssemblyInfoInputs.cache
EmotionTracker.Client/obj/Debug/net8.0/EmotionTracker.Client.assets.cache
EmotionTracker.Client/obj/Debug/net8.0/EmotionTracker.client.csproj.FileListAbsolute.txt
EmotionTracker.Client/obj/Debug/net8.0/EmotionTracker.client.dll
EmotionTracker.Client/obj/Debug/net8.0/EmotionTracker.client.pdb
EmotionTracker.Client/obj/Debug/net8.0/ref/EmotionTracker.client.dll
EmotionTracker.Client/obj/Debug/net8.0/refint/EmotionTracker.client.dll
